<h3>Edit User (Can edit only your information)</h3>

<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :name , class: "mdl-textfield__label" %>
    <%= f.text_field :name, class: "mdl-textfield__input", required: true %>
  </div>
  <br>
  <div class="mdl-textfield mdl-js-textfield">
    <%= f.label :email , class: "mdl-textfield__label" %>
    <%= f.email_field :email, class: "mdl-textfield__input", required: true %>
  </div>
  <br>
  
  <div class="actions" >
    <%= f.submit "Edit", class: "mdl-button mdl-js-button mdl-button--raised mdl-button--colored" %>
  </div>

<% end %>

<h3>Delete Account</h3>
<%= link_to deleteuser_path(:id => session[:user_id]), method: :delete, data: {confirm: "本当に削除しますか？"}, :class => "mdl-button mdl-js-button mdl-button--raised mdl-button--accent" do %>
  <i class="material-icons">delete_forever</i>DELETE
<% end %>

<br>
<%= link_to 'Home', home_path %>

