<p id="notice"><%= notice %></p>

<h1 align="center">体組成を晒すアホ達(新規ユーザ一覧)</h1>
検索窓つける

<table class="mdl-data-table mdl-js-data-table mdl-shadow--2dp" align="center">
  <thead>
    <tr>
      <th class="mdl-data-table__cell--non-numeric">Name</th>
      <th>email</th>
      <th>joined at</th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      
      <tr>
        <td class="mdl-data-table__cell--non-numeric">
          <%= link_to user_path(user.id), :class => "mdl-navigation__link" do %>
            <%= user.name %></td>
          <% end %>
        <td><%= user.email %></td>
        <td><%= user.register_date %></td>
      </tr>
  <% end %>
  </tbody>
</table>

全ユーザ一覧

<br>

