<!DOCTYPE html>
<html>
<head>
  <title>BodyComponent</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag "//www.google.com/jsapi", "chartkick" %>
  <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">

  <%= csrf_meta_tags %>
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
  <header class="mdl-layout__header">
    <div class="mdl-layout__header-row">
      <!-- Title -->
      <span class="mdl-layout-title">
            <%= link_to home_path, :class => 'mdl-navigation__link' do %>
            BodyComponent
            <% end %>
      </span>
      <!-- Add spacer, to align navigation to the right -->
      <div class="mdl-layout-spacer"></div>
      <!-- Navigation. We hide it in small screens. -->
      <nav class="mdl-navigation mdl-layout--large-screen-only">
          <% if logged_in? %>
            <%#= link_to sanitize('<i class="material-icons">account_circle</i>'), user_path(current_user), :class => 'mdl-navigation__link'%>
            <%= link_to new_value_path, :class => "mdl-navigation__link" do %>
              <i class="material-icons">create</i>Recode
            <% end %>

            <%= link_to user_path(current_user), :class => 'mdl-navigation__link' do %>
              <i class="material-icons">account_circle</i> <%= current_user.name %>
            <% end %>
            <%= link_to edit_user_path(current_user), :class => 'mdl-navigation__link' do %>
              <i class="material-icons">settings</i> Settings
            <% end %>
            <%= link_to logout_path, method: :delete, :class => "mdl-navigation__link" do %>
              <i class="material-icons">exit_to_app</i> Logout
            <% end %>
          <% else %>
            <%= link_to signup_path, :class => 'mdl-navigation__link' do %>
              <i class="material-icons">person_add</i> Sign up
            <% end %>
            <%= link_to login_path, :class => 'mdl-navigation__link' do %>
              <i class="material-icons">input</i> Login
            <% end %>
          <% end %>

      </nav>
    </div>
  </header>
  <main class="mdl-layout__content" >
    <div class="page-content mdl-color--white mdl-shadow--4dp content mdl-color-text--grey-800 mdl-cell mdl-cell--12-col" align="center">
    <table>
      <tr>
        <td>

        <%= yield %>
        </td>
      </tr>
    </table>
    </div>
  </main>
</div>

</body>
</html>
